.about-section{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 15px;
}
.about-section h2{
    margin: 20px 0;
    letter-spacing: 0.20em;
    font-weight: 500;
}

@media screen and (min-width: 620px){
    .about-section{
        width: 70%;
        margin: 0 auto;
        padding: 10px;
    }
}
/*large tablets & laptop styles*/
@media screen and (min-width: 960px){
    .about-section{
        width: 60%;
    }
}
/*desktop styles*/
@media screen and (min-width: 1200px){
    .about-section{
        width: 50%;
    }
}